/*.container{
    color: whitesmoke;
}
.fondo{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background: linear-gradient(90.09deg, #000000 27.58%, rgba(0, 227, 242, 0.77372) 134.97%, rgba(0, 246, 225, 0.77) 134.98%);
    opacity: 0.93;
    
}
.title{
    font-size: 75px;
    font-weight: 400;
    /* font-family: "Roboto-Regular"; *//*
    font-style: normal;
/*}

.subtitle{
    color: whitesmoke;
    font-size: 1.5rem;
}




#age {
    background-color: rgba(0, 0, 0, 0.3);
}

.cardd{
background: rgba(0, 0, 0, 0.75);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 11px;
margin-top: 10%;
margin-bottom: 10%;
}

/* .cardd{
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    margin-top: 10%;
    margin-bottom: 10%;
} */



/*
.login{
    margin-top: 20%;
}

.titulo{
    font-size: 2rem;
    font-style: normal;
    font-weight: 100;
}

.subtitulo{
    font-size: 1rem;
}

.campos{
    width: 80%;
    display: flex;
    justify-content: center;
}

input{
border: 1px solid #B0B0B0;
border-radius: 2px;
}


input[type="text"], input[type="password"], input[type="email"], select {
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent !important;
    margin-bottom: 1rem;
    color: #eee !important;   
    font-size: 1rem; 
    font-family:FontAwesome, Arial
}


label{
    color: whitesmoke;
    margin-bottom: 5px;
    font-size: 1rem;
}

.forgot-password{
    color: #B0B0B0;
    font-size: 1rem;
}
.forgot-password:hover{
    color: #B0B0B0;
}
/*
.btn-login{
    /* position: absolute; *//*
    background: rgba(3, 201, 245, 0.3);
    border: 3px solid rgba(0, 246, 225, 0.77);
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 28px;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    color: #FFFFFF; 
}/*

.registrate{
    color: #FFFFFF;
    font-size: 1rem;
}
.registrate:hover{
    color: #FFFFFF;
}

span {
    color: #059CBD
}

#email::placeholder, 
#password::placeholder, 
#name::placeholder, 
#dni::placeholder, 
#phone::placeholder, 
#country::placeholder, 
#state::placeholder, 
#city::placeholder, 
#age::placeholder, 
#password-confirm::placeholder {
    color: #B0B0B0;
    font-size: 1rem;
}

.email::-webkit-input-placeholder {
    overflow: visible;
}

/* .infor{
    margin-top: 15%
} */
