/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*////////////////////

/* INPUT DE RANGO DE PAQUETES DE INVERCIONES*/

/*///////////////////*/

.range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    width: 73.5%;
}

.range::-moz-range-track {
    background-color: #ffffff;
    height: 6px;
    border-radius: 3px;
    border: none;
}

.range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}

.range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-tooltip {
    display: none; /* display and visibility only */
}

.range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #ffffff;
}

.range:active::-moz-range-thumb {
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

.range:active::-ms-thumb {
    border: none;
}

output {
    border: 1px solid #00c8f4;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.4em 0.6em;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    height: 33px;
    left: 1218px;
    top: 366px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

/*===============*/
/* List-User Tickets
/*===============*/

#boton-ticket {
    background: #bd3900;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
}

#tvody {
    background: #0f1522;
    border-radius: 8px;
}

#contend {
    height: 63px;
    border: 0.5px solid #00c8f4;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #ffffff;
}
#thead {
    height: 63px;
    background: rgba(0, 200, 244, 0.4);
    border: 1px solid #00c8f4;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
}

/*===============*/
/* Create-Tickets
/*===============*/

#form-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #ffffff;
}

#names,
#emails,
#issues {
    background: rgba(196, 196, 196, 0.08);
    border: 2px solid rgba(0, 246, 225, 0.77);
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}


#send {
    background: #04c1b1;
    border: 2px solid rgba(0, 246, 225, 0.77);
    border-radius: 4px;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #000000;
}


#sends {
    background: #19b4db;
    border: 2px solid rgba(0, 246, 225, 0.77);
    border-radius: 4px;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #ffffff;
}

#up{
    background: #275c69;
    border: 2px solid rgba(17, 184, 209, 0.77);
    border-radius: 4px;
    font-family: Roboto;
}

#limite{
    color:#973131;
    font-weight:bold;
    font-size: 15px;
    
}

#form-labels{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #ffffff;
}
#names{
    font-size: 17px;
}
